%footer
  .wrapper
    %h1 Find the Fruit
    %nav
      = link_to '', 'https://www.youtube.com/user/MyMisterFruit', target: '_blank', class: 'fa fa-youtube'
      = link_to '', 'https://twitter.com/mrfruityt', target: '_blank', class: 'fa fa-twitter'
      = link_to '', 'https://www.instagram.com/MrFruitGaming/', target: '_blank', class: 'fa fa-instagram'
      = link_to '', 'https://www.twitch.tv/mymisterfruit', target: '_blank', class: 'fa fa-twitch'
