.featured
  .wrapper
    .description-and-stuff
      %h1 Awesome Title
      %p Each week, something something happens with videos, then magic!

    = raw @featured.embed_html

  %ul.scene
    %li.layer{ data: { depth: '1' }}= image_tag 'background.jpg'

.weekly-videos
  .wrapper
    %h1 How It Works
    %p
      Each person gets one vote. In the list below, click on whichever video
      was your favorite. The video with the most votes will be the featured
      video next week. Be sure to check this page each week for new videos to
      vote on. The list below is refreshed every Sunday night, and will
      include the previous week's videos.

    .videos
      - @videos.each do |video|
        .video
          = link_to 'vote', remote: true, method: 'post', data: { params: { video: video.id }.to_param } do
            = image_tag video.thumbnail_url

:javascript
  $('.scene').parallax()
