%ul.scene
  %li.layer{ data: { depth: '1' }}= image_tag 'banner.jpg'

.content
  %h1 The Story of the Fruit

  .baby.photo
    .caption Earliest known photo of Mr. Fruit
    = image_tag 'fruit-baby.png'

  %p Even as a toddler, Mr. Fruit was loved by everyone around him.

  %p Mr. Fruit is a gaming sensation that inspires his fruity followers (known as Fruit nation). Fruit dropped out of college to follow a career in gaming and youtube show business! Visit his Youtube channel (link needed) today, for the latest and greatest of Fruity wonder.

  .campaign.photo
    .caption Fruit's Campaign Poster
    = image_tag 'fruit-campaign.png'

  %p In all seriousness though, Mr Fruit is one of the kindest, most genuine and most unique souls in the gaming community. He provides me with really enjoyable content to come home nightly to and detox from the harshness of the world. He inspires me to be passionate in my daily job and try and keep my chin up in the face of adversity of rough days.

  .model.photo
    .caption Mr. Fruit in his Modeling Prime
    = image_tag 'fruit-model-car.png'

%p Common gaming terms used by the fruit include but are not limited to: 


  .model.photo
    .caption Mr. Fruit & The Dream Team
    = image_tag 'fruit-model-car.png'

  %p Mr. Fruit commonly games with his two buds, Blue (link needed) and RhabbyV (link available?). This handsome and talented trio is known to the community as the `Dream Team`. Blue is known for his resourcefulness, common sense, and rugged good looks. RhabbyV is known for his proliforuous death count, wonderful attitude, and keeping the chaos meter high. Mr. Fruit is the glue that holds this epic and Dreamy fruit cake together. His is outgoing and goofy and supremly handy with firearms.

:javascript
  $('.scene').parallax()
