/ .banner
/   = image_tag 'banner.jpg'
/   .image-container
/     = image_tag 'banner.jpg'

%ul.scene
  %li.layer{ data: { depth: '1' }}= image_tag 'banner.jpg'

.content
  %h1 About Sir Fruit
  %p Bacon ipsum dolor amet landjaeger beef shoulder, beef ribs bacon kevin doner pork loin tongue ribeye sirloin andouille. Alcatra boudin pig doner rump cupim strip steak hamburger. Cow capicola biltong tri-tip, prosciutto tenderloin sirloin spare ribs pork pastrami bresaola shank. Biltong sirloin porchetta fatback burgdoggen rump sausage. Ball tip spare ribs bresaola tri-tip, ham ham hock drumstick cupim kielbasa tongue chicken fatback flank. Porchetta boudin turkey pastrami rump drumstick beef venison tail.

  %p Turkey sirloin brisket chicken, swine tri-tip porchetta alcatra meatloaf flank pastrami tongue hamburger cow. Salami beef biltong chuck drumstick tri-tip pork belly filet mignon landjaeger. Beef salami tongue, cupim hamburger ribeye ball tip flank pork loin landjaeger kielbasa picanha. Pancetta doner kevin t-bone picanha hamburger. Pig cow pork chop, drumstick sirloin beef rump. Short loin flank turducken hamburger spare ribs filet mignon.

  %p Pork prosciutto ham andouille swine pastrami pig drumstick tail tongue turducken bresaola t-bone leberkas. Boudin swine pig tail kevin beef ribs. Rump pancetta drumstick pig pork chop. Corned beef shank leberkas frankfurter. Cow beef beef ribs tongue turkey. Rump beef landjaeger jerky salami pork chop doner kevin turducken. Ribeye filet mignon pork flank strip steak ham hock chicken sirloin drumstick short loin leberkas corned beef tri-tip pig andouille.

  %p Capicola filet mignon ham hock frankfurter spare ribs. Meatball beef shankle leberkas pancetta salami. Ribeye tongue prosciutto corned beef picanha. Kielbasa landjaeger tongue cupim pork loin short loin venison bresaola pig andouille sausage shoulder swine. Kielbasa pastrami ground round short ribs, shoulder shankle porchetta kevin pork.

  %p Sirloin tail leberkas tri-tip, pork chop tenderloin ground round kielbasa picanha capicola pancetta chicken. Meatloaf ham hock pancetta, venison boudin cow corned beef doner burgdoggen flank frankfurter cupim. Pork belly capicola ground round turkey kevin chuck brisket, picanha ham short loin shoulder sirloin sausage. Turkey hamburger pork loin rump ham hock pastrami andouille ground round short loin shoulder burgdoggen pig. Shankle short ribs drumstick capicola, beef kielbasa strip steak sirloin.

:javascript
  $('.scene').parallax()
