.scene
  overflow: hidden

.layer
  height: 350px
  img
    width: 125%

    // &:first-child
    //   opacity: 0

    &:last-child
      top: 50%
      left: 50%
      position: absolute
      transform: translate(-50%, -50%)

.content
  padding: 50px
  background: white
