.scene
  background: $brown
  overflow: hidden

.layer
  height: 350px
  img
    width: 125%

    &:last-child
      top: 50%
      left: 50%
      position: absolute
      transform: translate(-50%, -50%)

.content
  padding: 50px
  background: white

.photo
  position: relative
  float: left
  margin: 0 20px 0 0
  width: 50%

  .caption
    top: 50%
    right: 0
    bottom: 0
    left: 0
    z-index: 1
    position: absolute
    padding: 10px
    display: flex
    align-items: flex-end
    justify-content: center
    background: linear-gradient(to top, black, transparent)
    color: white
    font-style: italic
    text-shadow: 0 1px 0 black

  img
    width: 100%
    display: block

  &.alt
    float: right
    margin: 0 0 0 20px

  &.small
    width: 25%
    .caption
      top: 75%

.highlighted-section
  background-color: $yellow
  color: white
  text-align: center
  text-shadow: 2px 2px 1px rgba(0,0,0,0.2)

$cookieHeight: 130px
@keyframes hide
  0%
    bottom: 0
  100%
    bottom: -#{$cookieHeight}

.cookies
  right: 0
  bottom: 0
  left: 0
  z-index: 10
  position: fixed
  height: $cookieHeight
  background: $green
  color: white

  &.hide
    &, & + .fool
      animation: hide 200ms ease-out 0s alternate 1 forwards
    + .fool
      bottom: 0
      animation-delay: 3s
      animation-duration: 1s
      animation-timing-function: ease-in

  .close
    top: 10px
    right: 10px
    z-index: 11
    position: absolute
    width: 50px
    height: 50px
    display: block
    background: image-url('close.png') no-repeat center center
    background-size: 50%
    overflow: hidden
    text-indent: 50px

  p
    margin: 0
    text-align: center
    text-shadow: 2px 2px 1px rgba(0,0,0,0.1)

  + .fool
    right: 0
    bottom: -#{$cookieHeight}
    z-index: 9
    position: fixed
    transition: bottom 200ms ease-out

    img
      height: $cookieHeight
      display: block
