header
  background: white

  .wrapper
    display: flex
    align-items: center
    justify-content: space-between

  h1 a
    font-family: inherit

  nav
    display: flex
    text-transform: uppercase

    > *
      padding: 5px 10px
      color: $green

  a
    color: $brown
    transition: color 200ms ease
    &:hover
      color: $green
