.featured
  position: relative
  color: white

  .wrapper
    z-index: 2
    position: relative
    display: flex
    justify-content: space-between

  .description-and-stuff
    padding-right: 50px
    flex: 1

  .scene
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 1
    position: absolute

  h1
    margin-bottom: 10px
    padding-bottom: 10px
    border-bottom: 1px solid white

  p
    line-height: 1.5

  iframe
    background: black
    border: 20px solid white
    box-shadow: 1px 1px 1px $brown

.weekly-videos
  text-align: center

  .wrapper
    overflow: hidden

  h1
    margin-bottom: 10px
    padding-bottom: 10px
    border-bottom: 1px solid $brown

  .video
    float: left
    padding: 10px
