.featured
  position: relative
  color: white

  .wrapper
    z-index: 2
    position: relative
    display: flex
    justify-content: space-between

  .description-and-stuff
    padding-right: 50px
    flex: 1

  .scene
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 1
    position: absolute

  h1
    margin-bottom: 10px
    padding-bottom: 10px
    border-bottom: 1px solid white

  p
    line-height: 1.5

  iframe
    background: black
    border: 20px solid white
    box-shadow: 1px 1px 1px $brown

.weekly-videos
  text-align: center

  .wrapper
    overflow: hidden

  h1
    margin-bottom: 20px
    padding-bottom: 10px
    border-bottom: 1px solid $brown

  p
    margin-bottom: 20px

  .videos
    margin: -10px
    display: flex
    flex-wrap: wrap
    justify-content: center

  .video
    margin: 10px

    a, img
      position: relative
      display: block

    a::after
      top: 0
      left: 0
      z-index: 1
      position: absolute
      width: 100%
      height: 100%
      content: 'THIS ONE!'
      display: flex
      justify-content: center
      align-items: center
      background: rgba(0,0,0,0.75)
      color: white
      opacity: 0
      transition: opacity 200ms ease

    a:hover::after
      opacity: 1
