:plain

  $("#video_#{vote.video_id}").addClass('chosen')
    .siblings('.video').removeClass('chosen')

  if ($('.votification-notice').hasClass('animate')){
    $('.votification-notice').removeClass('animate')
    // anytime voting file is run
    // reset the timer for window.voting
    clearTimeout(window.voting)
  } else {
    $('.votification-notice').addClass('animate')
    // window.voting timeout that removes
    // animate class and allow exit transition
    window.voting = setTimeout(function(){
      $('.votification-notice').removeClass('animate')
    }, 3000)
  }
